/*training FLEX*/

.container {
display: flex;
flex-direction: row-reverse;
}

body{
  margin: 0px;
  padding: 0px;
}

.box {
  width: 300px;
  height: 300px;
  flex-grow: 1;
  

}

#red {
  background-color: #F25F5C;

}

#yellow {
  background-color: #FFE066;

}

#blue {
  background-color: #247BA0;

}